*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    background-color: #A60811;
}

#calendario{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    margin-left: 30px;
}

h2{
    font-family: "Aleo", serif;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.nav-list ul li{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
}

.nav-list ul li:hover{
    background-color: #df121d;
}

.banner{
    background-image: url("../fotos/brigadeiro-com-creme-de-leite-2.jpeg");
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.main-curiosidades{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
}

.main-curiosidades ul li, .main-curiosidades ol li{
    margin-top: 30px;
    margin-bottom: 40px;
}



.main-curiosidades p{
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-curiosidades h2, h3{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}

#tabela{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   text-align: center;
   color: white;
   
   
}

#tabela table{
    border-collapse: collapse;
    width: 60%;
}

#tabela th{
    background-color: #df121d;
    font-weight: 500;
    padding: 10px;
}

#tabela td{
    background-color: rgb(255, 129, 167);
    padding: 10px;
    border: 1px solid #df121d;
}
#imagem, #video{
    display: flex;
    align-items: center;
    justify-content: center;
}

#livro-do-brigadeiro{
    width: 500px;
}


.divisoria{
    background-color: rgba(67, 0, 27, 1);
    height: 15px;
}


.banner-historia, .banner-curiosidades{
    background-image: url("../fotos/brigadeiro-mordido.jpg");
    height: 250px;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}




.main, .main-historia{
    display: flex;
    flex-direction: row;

    gap:10px
}

.texto-historia p{
    margin-top: 20px;
    margin-bottom: 30px;
}

aside{
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    width: 18%;
    
}

.indice{
    text-align: justify;
    margin: 20px;
    margin-top: 40px;
    width: 20%;
    font-size: 20px;
}
.indice h2{
    text-align: center;
}

.indice ul{
    padding: 20px;
    padding-left: 30px;
}

.indice li{
    margin-bottom: 10px;
}

.indice a{
    color: black;
}

.indice a:hover{
    color:#A60811;
    text-decoration: underline;
}




.texto-historia{
    margin: 20px;
    margin-left: 30px;
    width: 80%;
    margin-right: 18%;
    margin-top: 40px;
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
}



#propaganda{
    margin-bottom: 30px;
}



#doceira{
    float: right;
    height: 400px;
    margin-top: 15px;
    margin-left: 20px;
}




.bloco-de-texto{
    width: 1050px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 320px;
}

.bloco-de-texto h2{
    text-align: justify;
}

.fotos{
    display: flex;
    flex-direction: row;
    
}

.fotos img{
    max-width: 25%;
    
}

.info{
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.info-texto{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
}

.info-texto p, .bloco-de-texto p{
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    margin: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-curiosidades{
    background-image: url(../fotos/brigadeiro1.jpeg);
    
}



.main-quiz{
    background-image: url(../fotos/2150168814.jpg);
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    
}

.main-quiz h1{
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.main-quiz section{
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.quiz-texto h2{
    margin-right: 800px;
}

.quiz-texto{
    margin-left: 60px;
    margin-top: 190px;
    
}

.quiz-texto2{
    margin-right: 80px;
    margin-top: 190px;
}

.quiz-texto2 h2{
    margin-top: 65px;
}

.quiz-texto2 ul{
    font-size: 20px;
    margin-bottom: 30px;
}

#resultado{
    background-color: rgba(250, 236, 190, 1);
    border-radius: 20px;
    margin: 50px;
    background: linear-gradient(to bottom, #fff7d5, #ffeeb2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    display: none;
}

#resultado h1{
    text-align: center;
    margin-bottom: 15px;
}
#comentario{
    margin-bottom: 20px;
}

#quantidade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.numero{
    font-size: 20px;
}

#acertos, #erros{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.main-curiosidades a{
    color: blue;
}

.main-curiosidades ul li{
    list-style-type: none;
}

#começar{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


#começar button{
    background-color: transparent;
    border: white;
    border-style: solid;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    width: 150px;
    height: 50px;
    border-width: 2px;
    cursor: pointer;
    transition: all 0.5s;
}

#começar button:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
    width: 160px;
    font-weight: 500;
    
}

#quiz{
    display: none;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.pergunta{
    font-size: 23px;
    font-weight: 500;
    font-style: bold;
        
    
}

.pergunta2{
    font-size: 20px;
    font-weight: 400;
    font-style: bold;
    margin-bottom: 10px;
}



fieldset{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px;
}

legend{
    margin-bottom: 5px;
}

label{
    transition: all 0.5s;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
}

label:hover{
    color:black
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}



#enviar, #reiniciar{
    background-color: #df121d;
    color: white;
    border-style: none;
    width: 100px;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

#reiniciar{
    padding: 8px;
}

#enviar:hover, #reiniciar:hover{
    background-color: rgba(67, 0, 27, 1);
    
}

.rodapé{
    background-color: #A60811;
    color: white;
    text-align: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
   
}


#slider{
    margin: 0 auto;
    width: 220px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}


.slides{
    width:400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}


.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 220px;
    height: 355px;
}

.manual-navigation{
    position:absolute;
    width: 220px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(91, 166, 236);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-left: 10px;
}

.navigation-auto{
    position: absolute;
    width: 220px;
    margin-top: 340px;
    display: flex;
    justify-content: center;
   

}
.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

#subtitulo{
    text-align: center;
    margin: 20px;
    
}

#jogo-da-memoria{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    
    margin-bottom: 20px;
}

.carta{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.carta:active{
    transform: scale(0.97);
    transition: transform 2.s;
}

.carta.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ff3131;
  backface-visibility: hidden;
}
 
.front-face {
  transform: rotateY(180deg);
}
