

.menu{
    background-color: #A60811;
    
}

nav ul{
    list-style-type: none;
}



h1 a{
    text-decoration: none;
    color: white
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline;
}

.rodapé{
    background-color: #A60811;
    color: white;
}