*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{
    background-color: #A60811;
}


.menu h1{
    padding: 20px;
    font-size: 50px;
}

a{
    text-decoration: none;
    color: white
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul li{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

.fotos{
    display: flex;
    flex-direction: row;
}
.fotos img{
    max-width: 25%;
    
}

.rodapé{
    background-color: #A60811;
    color: white;
    text-align: center;
}